body{
 padding: 0;
 margin: 0;
 display: flex;
 justify-content: center;
 text-align: center;   
 margin-top: 30%;
 /* background-color: rgba(0, 0, 0, 0.637); */
}
input{
    padding: 0.5rem;
    border-radius: 1rem;
}
button{
    background-color: rgb(3, 179, 3);
    padding: 0.3rem;
    border-radius: 10px;
}
