/* -------------------------------------------------- */
h1{
  text-align:center;

  text-wrap:balance;
}
/* -------------------------------------------------- */

p::first-letter {
/*! font-size:3rem; ======>its wrong  */
  color: red;

  initial-letter:2 2;
}
.container{
  border:2px solid gray;
  padding:10px;
  border-radius:5px;
}
